<section>
    <div class="add-product-form">
        <header class="main-header">Add new product</header>
        <div class="data">
            <label for="name">Name:</label>
            <input type="text" id="name" placeholder="Item name..."/>
            <label for="category">Category:</label>
            <input type="text" id="category" placeholder="Category..."/>
            <label for="price">Price:</label>
            <input type="text" id="price" placeholder="0.00"/>
        </div>
        <div class="panel">
            <button id="add-product-button" class="button">Add</button>
            <a href="#">
                <button class="button">Cancel</button>
            </a>
        </div>
    </div>
</section>