<section>
    <div class="edit-product-form">
        <header class="main-header">Edit product</header>
        <div class="data">
            <label for="item-name">Name:</label>
            <input type="text" id="item-name" value="{{name}}" placeholder="Name..."/>
            <label for="category">Category:</label>
            <input type="text" id="category" value="{{category}}" placeholder="Category..."/>
            <label for="price">Price:</label>
            <input type="text" id="price" value="{{price}}" placeholder="0.00"/>
        </div>
        <div class="panel">
            <button id="edit-product-button" class="button">Edit</button>
            <a href="#/products/">
                <button class="button">Cancel</button>
            </a>
        </div>
    </div>
</section>