<section>
    <div class="login-form">
        <header class="main-header">Login</header>
        <div class="data">
            <label for="username">Username:</label>
            <input type="text" id="username" placeholder="Username..."/>
            <label for="password">Password:</label>
            <input type="password" id="password" placeholder="Password..."/>
        </div>
        <div class="panel">
            <button id="login-button" class="button">Login</button>
            <span>or</span>
            <a href="#/register/">Register</a>
        </div>
    </div>
</section>