<section>
    <div class="register-form">
        <header class="main-header">Register</header>
        <div class="data">
            <label for="username">Username:</label>
            <input type="text" id="username" placeholder="Username..."/>
            <label for="password">Password:</label>
            <input type="password" id="password" placeholder="Password..."/>
            <label for="confirm-password">Confirm password:</label>
            <input type="password" id="confirm-password" placeholder="Password again..."/>
        </div>
        <div class="panel">
            <button class="button" id="register-button">Register</button>
            <span>or</span>
            <a href="#/login/">Login</a>
        </div>
    </div>
</section>