@media only screen and (max-width: 999px) {
    body {
        min-width: 200px !important;
    }

    footer {
        min-width: 200px;
    }

    #wrapper, header {
        width: 100%;
    }

    #logoarea {
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    header {
        height: auto;
    }

    #header-area-right {
        max-width: 100%;
        float: none;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-flow: wrap;
        flex-flow: wrap;
        justify-content: center;
        align-items: center;
        height: auto;
        margin: 0 auto;
    }

        #header-area-right nav {
            width: 80%;
            display: flex;
            -ms-flex-direction: column;
            flex-direction: column;
            -ms-flex-flow: wrap;
            flex-flow: wrap;
            justify-content: center;
            align-items: center;
            margin-bottom: 10px;
        }

        #header-area-right div {
            width: 25%;
        }

    #publicphotos {
        width: 90%;
        margin: 0 auto;
        padding: 2.5%;
    }

    #wrapper > section {
        min-width: 200px;
    }

    .p-photos-block {
        border-right: 10px solid #FFF;
        border-bottom: 10px solid #FFF;
        height: auto;
        -ms-flex: 0 31%;
        flex: 0 31%;
    }

        .p-photos-block a {
            width: 100% !important;
            height: 100% !important;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }

            .p-photos-block a img {
                width: 100%;
            }

    #p-albums-items {
        justify-content: center;
    }
}

@media only screen and (max-width: 755px) {

    nav ul {
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-flow: wrap;
        flex-flow: wrap;
        width: 100%;
    }

        nav ul li {
            -ms-flex: 0 100%;
            flex: 0 100%;
            margin: 2px 0;
        }

            nav ul li a {
                width: 100%;
                text-align: center;
            }

    .p-photos-block {
        -ms-flex: 0 45%;
        flex: 0 45%;
    }

    #publicphotos {
        width: 80%;
    }

    .p-photos-block a.aimgi {
        padding: 3px;
    }

    #header-area-right div {
        width: 70%;
        margin: 0 auto;
    }

    footer {
        font-size: 0.9em;
        padding: 1%;
    }

    #media a {
        margin: 2px;
    }
}
