/* latin */
@font-face {
    font-family: 'Patua One';
    font-style: normal;
    font-weight: 400;
    src: local('Patua One'), local('PatuaOne-Regular'), url(https://fonts.gstatic.com/s/patuaone/v6/yAXhog6uK3bd3OwBILv_SBJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

body {
    font-family: Georgia;
}

h1 {
    font-family: 'Patua One';
    font-size: 45px;
    display: inline-block;
    margin: 0;
    font-weight: normal;
}

header > a {
    text-decoration: none;
    color: #444444;
}

    header > a:hover {
        color: #777777;
    }

header img {
    display: inline-block;
    position: relative;
    width: 55px;
    top: 10px;
}

header nav {
    border-top: 1px dashed #aaaaaa;
    border-bottom: 1px dashed #aaaaaa;
}

    header nav a {
        text-decoration: none;
        color: #999999;
        margin: 0 5px;
        font-weight: bold;
    }

        header nav a:hover {
            color: #666666;
        }

header h2 {
    font-style: italic;
    font-size: 12px;
    color: #666666;
    font-weight: normal;
}

input[type="submit"] {
    font-family: Arial;
    width: 30%;
}

input[type="search"] {
    width: 60%;
}

header {
    width: 564px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    margin-bottom: 30px;
}

nav li {
    display: inline-block;
}

footer {
    width: 100%;
    text-align: center;
    color: #666666;
    padding: 20px 0;
    border-top: 1px solid #cccccc;
    margin-top: 40px;
}

#content-container {
    width: 940px;
    margin: 0 auto;
    position: relative;
}

aside ul {
    list-style-type: none;
    padding: 0;
}

aside {
    padding: 10px;
    border: 1px dashed #aaaaaa;
    width: 20%;
    position: absolute;
}

#aside-top {
    right: 0;
    top: 365px;
}

#aside-bottom {
    right: 0;
    top: 550px;
}

#content {
    width: 75%;
}

aside h3 {
    color: #666666;
}

aside a {
    text-decoration: none;
    color: #0066cc;
}

    aside a:hover {
        color: #ff4b33 !important;
        text-decoration: underline;
    }

    aside a:visited {
        color: #743399;
    }

#important {
    width: 90%;
    text-align: center;
    color: #666666;
    border-top: 1px dashed #aaaaaa;
    border-bottom: 1px dashed #aaaaaa;
    padding: 20px;
    margin: 20px 0;
}

    #important h2 {
        font-weight: normal;
        margin: 0 0 10px 0;
    }

    #important p {
        margin: 0;
    }

#some {
    margin: 20px 0;
}

    #some h3 {
        font-weight: normal;
        font-size: 1.5em;
    }
